root = true

[*]
# Indentation
indent_style = space
indent_size = 4
tab_width = 4

# Line endings and encoding
end_of_line = lf
charset = utf-8
insert_final_newline = true

# Whitespace
trim_trailing_whitespace = true

# Max line length
max_line_length = off
