[Desktop Entry]
Version=2.3
Type=Application
Name=Add To Menu
Comment=A utility to add Linux applications to Termux desktop
Exec=add2menu
Icon=edit-move
Terminal=false
Categories=System;Settings;
StartupWMClass=add2menu
X-GNOME-SingleWindow=true
Actions=Add;AddLegacy;AddLegacyNoGPU;

[Desktop Action Add]
Name=Add to Menu
Exec=add2menu
Icon=edit-move

[Desktop Action AddLegacy]
Name=Add to Menu (Legacy)
Exec=add2menu --legacy
Icon=edit-move

[Desktop Action AddLegacyNoGPU]
Name=Add to Menu (Legacy NoGPU)
Exec=add2menu --legacy-nogpu
Icon=edit-move
