[Desktop Entry]
Version=1.0
Type=Application
Name=Termux AppStore
Comment=Browse and install Termux applications
Exec=python /data/data/com.termux/files/usr/opt/appstore/gtk_app_store.py
Icon=org.gnome.Software
Terminal=false
Categories=System;PackageManager;
StartupWMClass=termux-appstore
X-GNOME-SingleWindow=true 